@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.glass-container {
  position: relative;
}

.glass-container::before {
  @apply absolute -inset-[20px] -z-10 rounded-xl border border-slate-100/20 bg-slate-900/20 backdrop-blur-xl;
  content: "";
}

.background-gradient {
  background: radial-gradient(
    circle at center,
    hsla(184, 90%, 60%, 0.1) 0%,
    hsla(184, 0%, 0%, 0) 70%,
    hsla(184, 0%, 0%, 0) 100%
  );
}
